<ruby>
if ENV['MSF_LHOST'] != ""
  run_single("setg LHOST #{ENV['MSF_LHOST']}")
end

run_single("db_connect postgres://#{ENV['MSF_DB_USER']}:#{ENV['MSF_DB_PASS']}@#{ENV['MSF_DB_HOST']}:#{ENV['MSF_DB_PORT']}/#{ENV['MSF_DB']}")
</ruby>